@font-face {
  font-family: 'Major Mono Display', monospace;
  src: local('MajorMonoDisplay-Regular'), url(./css/fonts/MajorMonoDisplay-Regular.ttf) format('ttf');
}

.clock{
  font-family: 'Major Mono Display', monospace;
  font-size: 7em;

}

.light-theme{
  background-color: #a9a9a9;
  color:#5d5d5d;
}
or color:#424242

.dark-theme{ 
  background-color: #424242;
  color: #BDBDBD
}
//or color:#a9a9a9


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
